.SomethingIsRed{
    color: red
}

.MainHeaders{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: cadetblue;
    text-align: center;
}
.JobHeaders{
    color:aliceblue;
    text-align: left}

body{
    background-color: darkorchid;
    border-style: dotted;
}
ul{

}
footer{

}